@font-face {
    font-family: Monotserrat-bolt;
    src: url(../styles/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Monotserrat-light;
    src: url(../styles/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: Monotserrat-regular;
    src: url(../styles/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../styles/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-light;
    src: url(../styles/fonts/Roboto/Roboto-Light.ttf);
}
